<%- include('partials/header') %>
<div class="navc">
    <div class="nav w-full h-16 bg-zinc-200 flex justify-between items-center px-4 gap-8">
        <div class="logo">
            <i class="ri-pinterest-fill text-3xl text-[#E60023]"></i>
        </div>
        <div class="search">
            <input type="text" class="w-96 h-10 rounded-full px-4" placeholder="Search">
        </div>
        <div class="nav-links gap-10 flex ">
            <a href="/feed" class="text-l font-semibold w-20 text-center py-2 h-10  rounded-full hover:bg-black hover:text-white  ">Home</a>
            <a href="/createposts" class="text-l font-semibold w-20 text-center py-2 h-10  rounded-full hover:bg-black hover:text-white">Create</a>
            <a href="/logout" class="text-l font-semibold w-20 text-center py-2 h-10  rounded-full hover:bg-black hover:text-white">Logout</a>
        </div>
    </div>
</div>
<link rel="stylesheet" href="/stylesheets/createposts.css">
<div class="main w-full h-screen ">
    <div class="bgtext">
        <h1 id="big1" class=" text-center py-4 text-4xl text-white ">Create a Post</h1>
    </div>
    <div class="up w-full text-white  ">
        <form class="w-2/3 " action="/uploadpost" method="post" enctype="multipart/form-data">
            <input class="block border-2 mt-1 ml-10 w-2/3 text-black   " type="file" name="postimage">
            <input class="block border-2 mt-1 ml-10 w-2/3 text-black " type="text" name="caption" placeholder="Caption">
            <input class="block border-2 mt-1 ml-10 w-2/3 text-black" type="text" name="description" placeholder="Description">
            <input class="rounded-full bg-red-500 block w-40 ml-52 mt-4  " type="submit" value="UPLOAD">
        </form>
    </div>

    
</div>
<%- include('partials/footer') %>