<%- include('partials/header') %>
<div class="main w-full h-screen bg-gray-500 pt-1    ">
    <div class="lgcnt flex justify-center items-center mt-36   ">
        <div class="lg w-96 h-auto bg-white rounded-2xl   ">
            <div class="ic flex justify-center items-center mt-4 ">
                <i class="ri-pinterest-fill text-[50px] text-red-600 "></i>
            </div>
            
            <h2 class="text-center text-2xl mt-4 font-semibold text-zinc-700 ">Welcome to Pinterest</h2>
            <div class="fmcnt">
                <form action="/register" method="POST" class="flex flex-col items-center mt-8">
                    <input type="text" name="username" placeholder="Username" class="w-3/4 h-10 border-2 border-gray-300 rounded-md px-2">
                    <input type="text" name="fullname" placeholder="Fullname" class="w-3/4 h-10 border-2 border-gray-300 rounded-md px-2 mt-4">
                    <input type="email" name="email" placeholder="Email" class="w-3/4 h-10 border-2 border-gray-300 rounded-md px-2 mt-4">
                    <input type="password" name="password" placeholder="Password" class="w-3/4 h-10 border-2 border-gray-300 rounded-md px-2 mt-4">

                    <input type="submit" class="w-3/4 h-10 bg-red-500 text-white rounded-md mt-4 " value="Register"></input>
                    
                </form>
                
                <div class=" text-center mt-4 w-2/3 ml-16 ">
                    By continuing, you agree to Pinterest's Terms of Service; and acknowledge you've read our Privacy Policy;Notice at collection; <br>
                    <a href="/" class="text-blue-500">Existing User? Login</a>
                </div>
            </div>
        </div>


    </div>
</div>
<%- include('partials/footer') %>